venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
instance/
.webassets-cache
.pytest_cache
.vscode
.idea
.git
.gitignore
.env
auditia.db
server.log
server_utf8.log
server_utf8_2.log
server_v2.log
server_v3.log
Dockerfile
.dockerignore
